@using System.Configuration
@using Zealous.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <form action="@ConfigurationManager.AppSettings["urlSubmitPayment"]">
            <input type="hidden" name="cmd" value="_cart" />
            <input type="hidden" name="upload" value="1" />
            <input type="hidden" name="return" value="@ConfigurationManager.AppSettings["urlReturn"]" />
            <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["accountBusiness"]" />
            @for (int i = 0; i < Model.Count; i++)
            {
                <input type="hidden" name="@Url.Content("item_name_"+(i+1))" value="@Model[i].Item_name" />
                <input type="hidden" name="@Url.Content("item_number_"+(i+1))" value="@Model[i].Item_number " />
                <input type="hidden" name="@Url.Content("amount_"+(i+1))" value="@Model[i].Amount" />
            }
            <br />
            <table border="1">
                <tr>
                    <th>item name</th>
                    <th>item number</th>
                    <th>amount</th>
                    <th>Quantity</th>
                </tr>
                
                @foreach (var cart in (List<Product>)Session["cart"])

                {
                    <tr>
                        <td>@cart.Item_name</td>
                      
                        <td>@cart.Amount</td>
                       
                    </tr>
                }
            </table>





            <div class="col-md-12">
                <label for="paypal" class="method paypal">
                    <img src="~/image/paypal_logo.png" />
                    <div>
                        <input id="paypal" type="radio" name="payment">
                        <input type="submit" value="Checkout Now" class="btn btn-primary col-md-12" />
                    </div>
                </label>
            </div>

    </div>





  
</body>
</html>
