@model Zealous.Models.Event
@{
    //Layout = ;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="Content/Style.css" rel="stylesheet" />
    <title>
        EVENT PICKING
    </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="div-main">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            <!-- Page Content -->
            <div class="top-breadcrumb">
                <ul>
                    <li> <a href="#">Home</a><span class="span-breadcrumb">>>></span></li>
                    <li> <a href="#">Product</a></li>
                    <ul>

            </div><!--top-breadcrumb-->
            <div class="clear"></div>
            <div class="main-content">
                <div class="content-image">
                    <img src="image/wed.jpg" />
                </div><!--content-image-->
                <div class="content-title">
                    <a href="">Wedding Package</a>
                </div><!--content-title-->
                <div class="content-price">
                    Price: RM500
                </div><!--content-price-->

            </div><!--main-content-->
            <div class="main-content">
                <div class="content-image">
                    <a href="#"><img src="image/wedd.jpg" /></a>
                </div><!--content-image-->
                <div class="content-title">
                    <a href="">Engagement Package</a>
                </div><!--content-title-->
                <div class="content-price">
                    Price: RM500
                </div><!--content-price-->

            </div><!--main-content-->
            <div class="main-content">
                <div class="content-image">
                    <img src="image/business-conference.jpg" />
                </div><!--content-image-->
                <div class="content-title">
                    <a href="">Meeting Package</a>
                </div><!--content-title-->
                <div class="content-price">
                    Price: RM500
                </div><!--content-price-->

            </div><!--main-content-->
       

        <div class="form-group">
            <label for="item_name">
                Product's name
            </label>
            @Html.TextBoxFor(x => x.EventName, new { @class = "form-control", placeholder = "Product's name" })
            @Html.ValidationMessageFor(x => x.EventName)
        </div>

        <div class="form-group">
            <label for="item_number">Product code</label>
            @Html.TextBoxFor(x => x.Id, new { @class = "form-control", placeholder = "Product code" })
            @Html.ValidationMessageFor(x => x.Id)
        </div>

        <div class="form-group">
            <label for="amount">Product price</label>
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Product price" })
            @Html.ValidationMessageFor(x => x.Description)
        </div>


        <button type="submit" class="btn btn-success">
            Add to cart
        </button>
    }
        </div>
        <div class="col-md-12">
            @Html.ActionLink("Proceed", "index", new { controller = "Payment" }, new { @class = "btn btn-primary" })
        </div>

    </body>
</html>
