@using Zealous.Models;
@model  List<Event>



@{
//Layout = ;
}





    

    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <br>
                    <th style="width:50%">Event Type</th>
                    <th style="width:8%">ProductID</th>
                    <th style="width:15%">Description</th>




                    <th style="width:20%" class="text-center">Amount</th>
                </tr>
            </thead>

            @foreach (var item in Model)

            {
                <tr>
                    <td data-th="Product">
                        <div class="row">

                            <div class="col-sm-10">
                                <h4 class="nomargin"> <a href="#"><img src=@Url.Content("~/image/"+item.Image) /></a></h4>
                                @item.EventName
                            </div>
                        </div>
                    </td>
                    <td data-th="ProductID" class="text-center">@item.ProductId</td>
                    <td data-th="ProductDescription" class="text-center">@item.ProductDes</td>
                    <td data-th="Amount" class="text-center">@item.Amount</td>
                    <td colspan="5"></td>
                    <td class="actions" data-th="">
                        @Html.ActionLink("Add to cart", "OrderNow", "Payment", new { id = item.Id }, null)
                    </td>
                </tr>
                
            }
            </table>
            </div>


            

            










